
@{
    ViewBag.Title = "Razor1";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@{
    if (IsPost)
    {
        var a = int.Parse(Request["a"]);
        var b = int.Parse(Request["b"]);
        ViewBag.Result = $"{a} + {b} = {a + b}";
    }
}

@using (Html.BeginForm("", "", FormMethod.Post))
{
    <table>
        <tr>
            <td>@Html.Label("Number a")</td>
            <td>@Html.TextBox("a", "", new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.Label("Number b")</td>
            <td>@Html.TextBox("b", "", new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td><input type="submit" value="Add" /></td>
            <td>@ViewBag.Result</td>
        </tr>
    </table>
}


