
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail2</title>
</head>
<body>
    <div>
        <h2>Student Detail</h2>
        <div>
            <ul>
                <li>ID: @Model.id</li>
                <li>Name: @Model.name</li>
                <li>Marks: @Model.marks</li>
                <li>Major: @Model.major</li>
                <li>School: @Model.school</li>
            </ul>
        </div>
    </div>
</body>
</html>
